<header id="header">
  <div id="logo">
  	<%= link_to (image_tag("logo.png", :size => "300x180", :alt => "Blackstone Shoes USA Home")), root_path %>
  </div>
  <div id="main_nav">
  	<div><%= link_to "BUY BLACKSTONE", root_path %></div>
  	<div><%= link_to "SELL BLACKSTONE", root_path %></div>
  	<div><%= link_to "DAILY SOLE", root_path %></div>
  	<div><%= link_to "COLLECTION", root_path %></div>
  	<div><%= link_to "HISTORY", root_path %></div>
  	<div><%= link_to "CULTURE", root_path %></div>
  	<div><%= link_to "CONTACT", root_path %></div>
  	
  </div>
</header>